
<footer class="page-footer">
  <div class="footer-data">
    <h4><strong>About Wanderer Notes</strong></h4>
    <p class="footer-ref">
      <a href="/about">About Us</a>
      <a href="/contact">Contact Us</a>
    </p>
    <p>© 2020. All rights reserved.</p>
  </div>
  <div class="footer-icons">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
</footer>
