<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wanderer Notes</title>
    <link rel="stylesheet" href="../../assets/stylesheets/styles.css">
</head>
<body id="indexPage">
   
        <%- include('partials/header.ejs') %>

        <main id="main-page">
            <h2 class="center-text">Welcome to Wanderer Notes</h2>
            <p class="paragraph"> Travel is our passion. 
              The Wanderer notes plans trips and events for people who like to explore the world and make new friends on the go.
              It is not just about travel.
              It is about love and looking the world with your rose tinted glasses. 
              We keep travel preferences according to your suggestions and feedbacks. 
              We are determined in questioning convention, chasing true happiness, and phasing out the negativity and give people the happiness through travel. 
              We are planning our next trip to California and will be covering a few cities there. 
              We encourage you to come and join us, and experience the things and places that you never did before! 
              Check out the connections page to explore the places we are going to visit. 
              </p>
      
          </main>
          <% include partials/footer.ejs %>
        </body>
      </html>